body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

li {
  list-style: none;
  margin: 5px 0;
}
